<section
    class="relative bg-cover bg-center text-[#254D70] py-12 px-6 md:px-24"
    
>
    <!-- Overlay nero per scurire l'immagine -->
    <div class="absolute inset-0 bg-[#EFE4D2] "></div>

    <div class="relative z-10">
        <!-- Top section -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mb-12">
            <div>
                <p class="text-sm  mb-2 font-medium"><%= introduzionetext %></p>
                <h2 class="text-3xl text-[#254D70] md:text-5xl font-medium leading-tight max-w-lg"><%= introduzionetitle %></h2>
            </div>
            <div>
                <p class="text-sm md:text-md  font-medium"><%= introduzionesubtitle3 %></p>
            </div>
        </div>

        <!-- Subtitle center -->
        <div class="text-center mb-6">
            <h3 class="text-xl md:text-2xl text-[#254D70] font-medium"><%= introduzionesubtitle %></h3>
        </div>

        <!-- Paragraph center -->
        <div class="max-w-4xl mx-auto text-center  mb-12">
            <p class="text-sm text-[#254D70] md:text-base"><%= introduzionesubtitle2 %></p>
        </div>

        <!-- Cards -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <% cards.each do |card| %>
                <div class="bg-opacity-80 rounded-lg overflow-hidden shadow-lg">
                    <img
                        src=<%= card[:image] %>
                        alt="Card Title"
                        class="w-full h-[300px] md:h-[500px] object-cover"
                    />
                    <div class="p-4 md:p-6">
                        <h4 class="text-lg md:text-2xl text-[#254D70] font-semibold"><%= card[:description] %></h4>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>
