<div class="w-full bg-[#EFE4D2] text-black font-sans">
  <div class="max-w-11/12 mx-auto flex flex-col md:flex-row items-center justify-between px-4 md:px-6 py-3">
    <div class="flex items-center space-x-2 mb-3 md:mb-0">
      <img src=<%= navbarlogo %> alt="Logo" class="h-10 md:h-12" />
    </div>

    <div class="flex flex-wrap justify-center md:justify-start items-center space-x-4 md:space-x-6 text-sm md:text-md text-[#254D70] font-bold">
      <a href="#" class="hover:underline"><%= navbarlink1 %></a>
      <a href="#" class="hover:underline"><%= navbarlink2 %></a>
      <a href="#" class="hover:underline"><%= navbarlink3 %></a>
    </div>

    <div class="flex items-center space-x-3 mt-3 md:mt-0">
      <img src=<%= navbarsearchicon %> alt="Search Icon" class="h-5 md:h-6" />
    </div>
  </div>
</div>